body {
    background-color: lawngreen;
    font-family:sans-serif;
}

p {
    /*background-color: ;*/
    margin-left: 10%;
    margin-right: 10%;
}

.main_text {
top:10%;
}

.background_image {
    position:fixed;
    top:0px;
}

.first_paragraph {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

#special {
    background-color: yellow;
}

.red_text {
  color: red;
}